$themeColor: #409EFF;
$themeLighterColor: rgba(0, 153, 51, 0.6);
$bgColor: #409EFF;
$textPrimaryColor:#303133;
$textNormalColor: #606266;
$textLighterColor: #909399;
$normalWhite:#FFFFFF;
$successColor:#67C23A;
$warningColor:#E6A23C;
$dangerColor:#F56C6C;
$infoColor: #909399;